<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<Configuration status="info" monitorInterval="60">
    <Appenders>
        <RollingFile name="proxyAppender" fileName="${sys:proxy.log.home}/proxy.log"
                     filePattern="${sys:proxy.log.home}/proxy.%d{yyyy-MM-dd_HH}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %t %c{1}(%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
            <DefaultRolloverStrategy max="8">
                <Delete basePath="${sys:proxy.log.home}" maxDepth="1" followLinks="true">
                    <IfFileName glob="*.log"/>
                    <IfLastModified age="10d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="httpMonitorAppender" fileName="${sys:proxy.log.home}/http-monitor.log"
                     filePattern="${sys:proxy.log.home}/http-monitor.%d{yyyy-MM-dd_HH}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %t %c{1}(%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="tcpMonitorAppender" fileName="${sys:proxy.log.home}/tcp-monitor.log"
                     filePattern="${sys:proxy.log.home}/tcp-monitor.%d{yyyy-MM-dd_HH}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %t %c{1}(%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="appMonitorAppender" fileName="${sys:proxy.log.home}/app-monitor.log"
                     filePattern="${sys:proxy.log.home}/app-monitor.%d{yyyy-MM-dd_HH}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %t %c{1}(%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="defibusAppender" fileName="${sys:proxy.log.home}/defibus.log"
                     filePattern="${sys:proxy.log.home}/defibus.%d{yyyy-MM-dd_HH}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %t %c{1}(%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="messageAppender" fileName="${sys:proxy.log.home}/message.log"
                     filePattern="${sys:proxy.log.home}/message.%d{yyyy-MM-dd_HH}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %t %c{1}(%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="batchMessageAppender" fileName="${sys:proxy.log.home}/batchmsg.log"
                     filePattern="${sys:proxy.log.home}/batchmsg.%d{yyyy-MM-dd_HH}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %t %c{1}(%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="httpAppender" fileName="${sys:proxy.log.home}/http.log"
                     filePattern="${sys:proxy.log.home}/http.%d{yyyy-MM-dd_HH}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %t %c{1}(%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="registryAppender" fileName="${sys:proxy.log.home}/registry.log"
                     filePattern="${sys:proxy.log.home}/registry.%d{yyyy-MM-dd_HH}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %t %c{1}(%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="cmdAppender" fileName="${sys:proxy.log.home}/cmd.log"
                     filePattern="${sys:proxy.log.home}/cmd.%d{yyyy-MM-dd_HH}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %t %c{1}(%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="sessionAppender" fileName="${sys:proxy.log.home}/session.log"
                     filePattern="${sys:proxy.log.home}/session.%d{yyyy-MM-dd_HH}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %t %c{1}(%F:%L) - %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="subscribeAppender" fileName="${sys:proxy.log.home}/subscribe.log"
                     filePattern="${sys:proxy.log.home}/subscribe.%d{yyyy-MM-dd_HH}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %t %c{1}(%F:%L) - %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="mssAppender" fileName="${sys:proxy.log.home}/mss.log"
                     filePattern="${sys:proxy.log.home}/mss.%d{yyyy-MM-dd_HH}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %t %c{1}(%F:%L) - %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="retryAppender" fileName="${sys:proxy.log.home}/retry.log"
                     filePattern="${sys:proxy.log.home}/retry.%d{yyyy-MM-dd_HH}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %t %c{1}(%F:%L) - %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <AsyncRoot level="info" includeLocation="true">
            <AppenderRef ref="proxyAppender"/>
        </AsyncRoot>

        <AsyncLogger name="retry" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="retryAppender"/>
        </AsyncLogger>

        <AsyncLogger name="httpMonitor" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="httpMonitorAppender"/>
        </AsyncLogger>

        <AsyncLogger name="tcpMonitor" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="tcpMonitorAppender"/>
        </AsyncLogger>

        <AsyncLogger name="appMonitor" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="appMonitorAppender"/>
        </AsyncLogger>

        <AsyncLogger name="cmd" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="cmdAppender"/>
        </AsyncLogger>

        <AsyncLogger name="message" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="messageAppender"/>
        </AsyncLogger>

        <AsyncLogger name="batchMessage" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="batchMessageAppender"/>
        </AsyncLogger>

        <AsyncLogger name="http" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="httpAppender"/>
        </AsyncLogger>

        <AsyncLogger name="registry" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="registryAppender"/>
        </AsyncLogger>

        <AsyncLogger name="cn.webank.emesher" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="proxyAppender"/>
        </AsyncLogger>

        <AsyncLogger name="cn.webank.defibus" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="defibusAppender"/>
        </AsyncLogger>

        <AsyncLogger name="org.apache.rocketmq" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="defibusAppender"/>
        </AsyncLogger>

        <AsyncLogger name="RocketmqClient" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="defibusAppender"/>
        </AsyncLogger>

        <AsyncLogger name="RocketmqRemoting" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="defibusAppender"/>
        </AsyncLogger>

        <AsyncLogger name="RocketmqCommon" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="defibusAppender"/>
        </AsyncLogger>

        <AsyncLogger name="sessionLogger" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="sessionAppender"/>
        </AsyncLogger>

        <AsyncLogger name="subscribeLogger" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="subscribeAppender"/>
        </AsyncLogger>

        <AsyncLogger name="mssLogger" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="mssAppender"/>
        </AsyncLogger>

        <AsyncLogger name="cn.webank.mss" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="mssAppender"/>
        </AsyncLogger>
    </Loggers>
</Configuration>