.git
.gradle
.settings
logs
.DS_Store
.*.swp
*.ipr
*.iml
*.iws
*.class
*.log
*.log.*
.idea
build
.classpath
.project
test-output
dist
out
.pmd
classes
package-lock.json
node_modules
.run
*.log

h2/db.mv.db

# license check tmp file
all-dependencies.txt
self-modules.txt
third-party-dependencies.txt

.metadata
/bin
**/bin