<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apache.eventmesh.admin.server.web.db.mapper.EventMeshRuntimeHeartbeatMapper">

    <resultMap id="BaseResultMap" type="com.apache.eventmesh.admin.server.web.db.entity.EventMeshRuntimeHeartbeat">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="adminAddr" column="adminAddr" jdbcType="VARCHAR"/>
            <result property="runtimeAddr" column="runtimeAddr" jdbcType="VARCHAR"/>
            <result property="jobID" column="jobID" jdbcType="INTEGER"/>
            <result property="reportTime" column="reportTime" jdbcType="VARCHAR"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,adminAddr,runtimeAddr,
        jobID,reportTime,updateTime,
        createTime
    </sql>
</mapper>
