<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apache.eventmesh.admin.server.web.db.mapper.EventMeshDataSourceMapper">

    <resultMap id="BaseResultMap" type="com.apache.eventmesh.admin.server.web.db.entity.EventMeshDataSource">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="dataType" column="dataType" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="configuration" column="configuration" jdbcType="VARCHAR"/>
            <result property="createUid" column="createUid" jdbcType="INTEGER"/>
            <result property="updateUid" column="updateUid" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dataType,address,
        description,configuration,createUid,
        updateUid,createTime,updateTime
    </sql>
</mapper>
