<div id="portfolio" class="{{ section.background_style }}">
  <div class="container-fluid p-0">
    <h2 class="text-center mt-0">{{ section.title }}</h2>
    <hr class="divider my-4">
    <div class="row no-gutters">
      {% for proj in section.projects %}
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/{{ proj.icon }}">
          <img class="img-fluid" src="assets/img/portfolio/thumbnails/{{ proj.icon }}" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              {{ proj.title }}
            </div>
            <div class="project-name">
              {{ proj.text }}
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
