<!--<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">-->
<!--  <div class="container">-->
<!--    <h2 class="text-center mt-0">{{ section.title }}</h2>-->
<!--    <p class="text-white-50">{{ section.text }}</p>-->
<!--    <hr class="divider my-4">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-12">-->
<!--        <ul class="timeline">-->
<!--          {% for action in section.actions %}-->
<!--          <li class="{% cycle 'timeline-normal', 'timeline-inverted' %}">-->
<!--            <div>-->
<!--            <img class="img-circle img-responsive timeline-image" src="{{ action.image }}" alt="">-->
<!--            </div>-->
<!--            <div class="timeline-panel">-->
<!--              <div class="timeline-heading">-->
<!--                <h4>{{ action.title | markdownify }}</h4>-->
<!--              </div>-->
<!--              <div class="timeline-body">-->
<!--                <p class="text-white-50">{{ action.text | markdownify }}</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </li>-->
<!--          {% endfor %}-->
<!--          <li class="timeline-inverted">-->
<!--            <div >-->
<!--              <img class="img-circle img-responsive timeline-image" src="{{ section.last_image }}" alt="">-->
<!--              </div>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
