#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

pubSubConfig:
    meshAddress: 127.0.0.1:10000
    subject: TopicTest
    idc: FT
    env: PRD
    group: httpSource
    appId: 5032
    userName: httpSourceUser
    passWord: httpPassWord
connectorConfig:
    connectorName: httpSource
    path: /test
    port: 3755
    idleTimeout: 5000   # timeunit: ms
    maxFormAttributeSize: 1048576 # timeunit: byte, default: 1048576(1MB). This applies only when handling form data submissions.
    maxStorageSize: 1000 # max storage size, default: 1000
    batchSize: 10 # batch size, default: 10
    protocol: CloudEvent # Case insensitive, default: CloudEvent, options: CloudEvent, GitHub, Common
    extraConfig: # extra config for different protocol, e.g. GitHub secret
        secret: xxxxxxx # GitHub secret