<?xml version="1.0" encoding="UTF-8"?>
<!--
  EventMesh unified runtime logging. Discovered on the classpath (conf/log4j2.xml).
  Console output suits container deployments; add a RollingFile appender for host installs.
-->
<Configuration status="WARN" monitorInterval="60">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t] %c{1} - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.eventmesh" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.apache.kafka" level="WARN"/>
        <Logger name="org.apache.rocketmq" level="WARN"/>
        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
