<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration debug="false" scan="true" scanPeriod="60 seconds" packagingData="false">
    <appender name="SyncDefaultAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/broker_default.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>../logs/otherdays/broker_default-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>128MB</maxFileSize>
            <maxHistory>24</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss:SSS,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <appender name="DefaultAppender" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>10</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="SyncDefaultAppender"/>
    </appender>


    <appender name="SyncRocketmqBrokerAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/broker.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>../logs/otherdays/broker-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>128MB</maxFileSize>
            <maxHistory>24</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss:SSS,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>


    <appender name="RocketmqBrokerAppender" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>10</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="SyncRocketmqBrokerAppender"/>
    </appender>

    <appender name="SyncRocketmqProtectionAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/protection.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>../logs/otherdays/protection-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>16MB</maxFileSize>
            <maxHistory>24</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss:SSS,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>


    <appender name="RocketmqProtectionAppender" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>10</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="SyncRocketmqProtectionAppender"/>
    </appender>

    <appender name="SyncRocketmqWaterMarkAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/watermark.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>../logs/otherdays/watermark-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>32MB</maxFileSize>
            <maxHistory>24</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss:SSS,GMT+8} %t %p %c - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>


    <appender name="RocketmqWaterMarkAppender" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>10</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="SyncRocketmqWaterMarkAppender"/>
    </appender>

    <appender name="SyncRocketmqStoreAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/store.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>../logs/otherdays/store-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>128MB</maxFileSize>
            <maxHistory>24</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss:SSS,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>


    <appender name="RocketmqStoreAppender" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>10</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="SyncRocketmqStoreAppender"/>
    </appender>

    <appender name="SyncRocketmqRemotingAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/remoting.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>../logs/otherdays/remoting-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>64MB</maxFileSize>
            <maxHistory>24</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss:SSS,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>


    <appender name="RocketmqRemotingAppender" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>10</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="SyncRocketmqRemotingAppender"/>
    </appender>

    <appender name="SyncRocketmqStoreErrorAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/storeerror.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>../logs/otherdays/storeerror-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>64MB</maxFileSize>
            <maxHistory>24</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss:SSS,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>


    <appender name="RocketmqStoreErrorAppender" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>10</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="SyncRocketmqStoreErrorAppender"/>
    </appender>


    <appender name="SyncRocketmqTransactionAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/transaction.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>../logs/otherdays/transaction-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>16MB</maxFileSize>
            <maxHistory>24</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss:SSS,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>


    <appender name="RocketmqTransactionAppender" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>10</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="SyncRocketmqTransactionAppender"/>
    </appender>


    <appender name="SyncRocketmqRebalanceLockAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/lock.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>../logs/otherdays/lock-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>64MB</maxFileSize>
            <maxHistory>24</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss:SSS,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <appender name="RocketmqRebalanceLockAppender" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>10</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="SyncRocketmqRebalanceLockAppender"/>
    </appender>

    <appender name="SyncRocketmqStatsAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/stats.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>../logs/otherdays/stats-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>500MB</maxFileSize>
            <maxHistory>24</maxHistory>
            <totalSizeCap>12GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss:SSS,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>


    <appender name="RocketmqStatsAppender" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>10</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="SyncRocketmqStatsAppender"/>
    </appender>

    <appender name="SyncRocketmqCommercialAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/commercial.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>../logs/otherdays/commercial-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>500MB</maxFileSize>
            <maxHistory>24</maxHistory>
            <totalSizeCap>12GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss:SSS,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>


    <appender name="RocketmqCommercialAppender" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>10</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="SyncRocketmqCommercialAppender"/>
    </appender>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <append>true</append>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss:SSS,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <logger name="RocketmqBroker" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RocketmqBrokerAppender"/>
    </logger>

    <logger name="RocketmqProtection" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RocketmqProtectionAppender"/>
    </logger>

    <logger name="RocketmqWaterMark" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RocketmqWaterMarkAppender"/>
    </logger>

    <logger name="RocketmqCommon" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RocketmqBrokerAppender"/>
    </logger>

    <logger name="RocketmqStore" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RocketmqStoreAppender"/>
    </logger>

    <logger name="RocketmqStoreError" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RocketmqStoreErrorAppender"/>
    </logger>

    <logger name="RocketmqTransaction" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RocketmqTransactionAppender"/>
    </logger>

    <logger name="RocketmqRebalanceLock" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RocketmqRebalanceLockAppender"/>
    </logger>

    <logger name="RocketmqRemoting" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RocketmqRemotingAppender"/>
    </logger>

    <logger name="RocketmqStats" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RocketmqStatsAppender"/>
    </logger>

    <logger name="RocketmqCommercial" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RocketmqCommercialAppender"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="DefaultAppender"/>
    </root>
</configuration>
