---
layout: base
---

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">{{ page.header.title }}</h1>
        <hr class="divider my-4">
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-5">{{ page.header.text }}</p>
        {% if page.header.action %}
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ page.header.action.url }}">{{ page.header.action.label }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>

{% for section in page.sections %}
    {% include {{ section.type }} section=section site=site page=page %}
{% endfor %}

{{ content }}
