# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Check license

on:
  # push:
    # branches: [ '*' ]
  pull_request:
    branches: [ * ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Check License Header
      uses: apache/skywalking-eyes@main      # always prefer to use a revision instead of `main`.
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # needed only when you want License-Eye to comment on the pull request.